.root {
    @apply w-full max-w-container mx-auto;
}

@media (min-width: 550px) {
    .root {
        @apply px-4 mt-7;
    }

    .content {
        @apply rounded-default;
    }
}

.content {
    @apply p-5;
    background-color: var(--background-color);
}

.top {
    @apply flex justify-between items-center mb-3;

    .close_icon {
        @apply cursor-pointer;
    }
}

.main_title {
    @apply text-center text-3xl sm:text-4xl mb-10 font-semibold;
}

.no_margin {
    @apply mb-0;
}

.price {
    @apply flex items-center gap-3 mb-7; 

    .value {
        @apply text-2xl sm:text-4xl font-bold;
    }

    .prefix {
        @apply mt-1 sm:mt-4 text-base sm:text-lg uppercase;
    }
}

.crypto_list {
    @apply flex flex-col max-h-96 overflow-y-scroll ;

    &::-webkit-scrollbar {
        background: none;
    }

    &::-webkit-scrollbar-thumb {
        height: 56px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        border: 4px solid transparent;
        background-clip: content-box;
        background-color: hsl(0,0%,67%);
    }
}

.section {
    @apply mb-5;
}

.adress_container {
    @apply bg-white p-3 sm:p-4 rounded-md text-black flex justify-between items-center;

    .adress {
        @apply font-semibold text-base sm:text-lg overflow-ellipsis whitespace-nowrap overflow-hidden;
    }

    .copy_button {
        @apply transition-transform;
        &:active {
            @apply scale-90;
        }
    }
}

.qr_container {
    @apply flex justify-center mt-5;
}
.qrcode {
    @apply relative w-[150px] h-[150px] sm:w-[210px] sm:h-[210px] bg-white rounded-default border p-2 border-black border-solid;
}