@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --payment-width: 550px;
  --background-color: #2B2D35;
  --border-radius: 20px;
}

body {
  @apply text-white bg-black;
  font-size: 16px;
  text-rendering: optimizelegibility;
  overflow-x: hidden;
}